*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-align: center;
    box-sizing: border-box;
    float: left;
    display: block;
}

/*Top menu*/
.header{
    background-image: linear-gradient(to right, black, darkgrey);
    position: fixed;
}

#logo{
    width: 20%;
    border-radius: 90px;
}

h3{
    margin-top: 8px;
    margin-left: 12%;
    font-size: 30px;

}

#menubutton{
    width: 9%;
    float: right;
    margin: 12px;
}

ul{
width: 90%;
display: none;
position: fixed;
margin-left: 20%;
}

li {
    width: 18%;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5%;
}

li:last-child{
    margin-left: 0px;
}

#closemenu{
    width: 5%;
    float: right;
    margin-left: 32%;
    display: none;
    margin-top: 12px;
    position: fixed;
    z-index: 2;
}

/*Services DIVs*/

#pagetitle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    float: none;
}

.servicesgrid{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: none;
    display: grid;}

.services{
    margin-top: 5%;
    width: 70%;
    margin: 1%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}

.services : hover{
    box-shadow: 2px 2px 4px #000000;

}
.servimg{
    border-radius: 5px;
}
